[build-system]
requires = ["maturin>=1.4,<2.0"]
build-backend = "maturin"

[project]
name = "ruff-api"
description = "Experimental API for Ruff"
readme = "README.md"
authors = [
    {name="Amethyst Reese", email="amethyst@n7.gg"},
]
license = {file="LICENSE"}
dynamic = ["version"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Rust",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
]
requires-python = ">=3.8"
dependencies = []

[project.optional-dependencies]
dev = [
    "attribution==1.8.0",
    "flake8==7.1.1",
    "maturin==1.7.0",
    "mypy==1.11.1",
    "pytest==8.3.2",
    "ufmt==2.7.0",
    "usort==1.0.8.post1",
]

[project.urls]
Home = "https://github.com/amyreese/ruff-api"

[tool.maturin]
features = ["pyo3/extension-module"]
module-name = "ruff_api._rust"

[tool.attribution]
name = "ruff-api"
package = "ruff_api"
cargo_packages = ["ruff-api"]
version_file = true
ignored_authors = ["dependabot[bot]"]
signed_tags = true

[tool.mypy]
strict = true

[tool.pytest.ini_options]
python_files = "tests/*.py"

[tool.ufmt]
formatter = "ruff-api"
